{% extends 'base.html' %}

{% load static humanize static_tags %}
{% block title %}书籍清单{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">


    <style>
       
            .container {
                width: 80%;
                margin: auto;
                overflow: hidden;
            }
            h1 {
                background-color: #007bff; /* 浅蓝色背景 */
                color: #fff; /* 白色字体 */
                text-align: center;
                padding: 20px 0;
            }
            
          
        
        
        
        .no-results {
            color: red;
            margin-top: 10px;
        }
    </style>
{%endblock%}
{% block content %}

    <div style="border-radius: 10px;" class="mt-4 p-4 bg-light">
        <h1>书籍清单</h1>
        <form action="." method="get">
            <input type="text" name="search" placeholder="搜索书名...">
            <button class="btn btn-primary custom-button" type="submit"><i class="fas fa-search"></i></button>
            <button class="btn btn-primary custom-button" onclick="window.location.href='{% url "comments:add_book" %}'; return false;">添加书籍</button>

        </form>
        {% if books %}
            <ul>
                {% for book in books %}
                <li>  
                    <h2>{{book.title}}</h2>
                    <p>平均评分: {{ book.average_rating }}</p>
                    <p>评分人数: {{ book.total_numbers }}</p>
                    <a href="{% url 'comments:book_review' book.id %}">评分</a>       
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-results">没有此书，请添加书籍</p>
            
        {% endif %}
    </div>
{% endblock %}
