<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .custom-background {
            background-color: #E5E5E5;
        }

        .custom-bg-color {
            background-color: #17a2b8;
        }

        .custom-text-color {
            color: #17a2b8;
        }

        h4 {
            padding-bottom: 5px;
            margin-bottom: 20px;
            border-bottom: 1.5px solid;
            font-weight: bold;
        }

    </style>
</head>
<body class="custom-background">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header custom-bg-color text-white">
                    修改个人主页
                </div>
                <div class="card-body">
                    <form method="post" action="/info/info/">

                        {% csrf_token %}

                        <input type="hidden" id="id" name="id" value="{{ userinfo.id }}">
                        <input type="hidden" id="username" name="username" value="{{ userinfo.username }}">
                        <input type="hidden" id="mobile_phone" name="mobile_phone" value="{{ userinfo.mobile_phone }}">
                        <input type="hidden" id="email" name="email" value="{{ userinfo.email }}">

                        <div class="row">
                            <div class="col-md-6">

                                <!h4 class="col-md-8"></!h4>
                                <br/><br/>
                                <div class="form-group">
                                    <label for="gender" class="custom-text-color">性别</label>
                                    <select id="gender" name="gender" class="form-control" >
                                        <option value="1" {% if userinfo.gender == "不愿透露" %}selected{% endif %}>不愿透露</option>
                                        <option value="2" {% if userinfo.gender == "男" %}selected{% endif %}>男</option>
                                        <option value="3" {% if userinfo.gender == "女" %}selected{% endif %}>女</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="edu_ground" class="custom-text-color">学历</label>
                                    <input type="text" id="edu_ground" name="edu_ground" value="{{ userinfo.edu_ground }}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="school" class="custom-text-color">学校</label>
                                    <input type="text" id="school" name="school" value="{{ userinfo.school }}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="major" class="custom-text-color">专业</label>
                                    <input type="text" id="major" name="major" value="{{ userinfo.major }}" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <br/><br/>
                                <!h4 class="col-md-8"></!h4>
                                <div class="form-group">
                                    <label for="my_love_book" class="custom-text-color">我最喜爱的书籍</label>
                                    <input type="text" id="my_love_book" name="my_love_book" value="{{ userinfo.my_love_book }}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="my_love_author" class="custom-text-color">我最喜爱的作者</label>
                                    <input type="text" id="my_love_author" name="my_love_author" value="{{ userinfo.my_love_author }}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="maxim" class="custom-text-color">格言</label>
                                    <input type="text" id="maxim" name="maxim" value="{{ userinfo.maxim }}" class="form-control">
                                </div>
                                <div class="row justify-content-center" style="margin-top: 10px;">  
                                    <div class="col-md-4">  
                                        <a href="/info/info/" class="btn custom-bg-color text-white">返回个人主页</a>  
                                    </div>  
                                    <div class="col-md-4">  
                                        <button type="submit" class="btn custom-bg-color text-white">确认修改</button>  
                                    </div>  
                                </div>
                                <div class="row" style="padding-left: 50px;padding-right:40px; padding-top: 40px">
                                    <div style="font-weight:bold;">
                                        <p><span class="custom-text-color">提示：</span>若您希望修改用户名/联系电话/电子邮箱，请至<span class="custom-text-color">账号安全</span>进行修改。</p>
                                </div>




                                </div>



                            </div>
                    </div>



                    </form>


                </div>
            </div>
        </div>
    </div>
</div>





<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

