{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>创立村落</title>  
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" type="text/css" media="all">  
    <style>  
        .account {  
            width: 500px;  
            border: 1px solid #dddddd;  
            border-radius: 5px;  
            box-shadow: 5px 5px 20px #aaa;  
            margin-left: auto;  
            margin-right: auto;  
            margin-top: 50px;  
            padding: 20px 40px;  
            color: #333333;  
            background-color: #ffffff;  
        }  
        .account h2 {  
            margin-top: 10px;  
            text-align: center;  
        }  
    </style>  
</head>  
<body>  
<div class="account">  
    <h2>创立村落</h2>  
    <form method="post" novalidate>  
        {% csrf_token %}  
        <!-- 表单列表 -->  
        {% for field in form %} 
            {% if field.name != 'verification_code' %} 
                <div class="form-group">  
                    <label>{{ field.label }}</label>  
                    :  
                    {{ field }}  
                    <span style="color: red;">{{ field.errors.0 }}</span>  
                </div>
            {% endif %}  
            {% if field.name == 'verification_code' %}  
                <div class="form-group">  
                    <label for="id_code">{{ field.label }}</label>  
                    <div class="row">  
                        <div class="col-xs-8">  
                            {{ field }}  
                            <span style="color: red;">{{ field.errors.0 }}</span>  
                        </div>  
                        <div class="col-xs-4">  
                            <button type="button" id="sendemail" class="btn btn-primary">发送邮件</button>
                        </div>  
                    </div>  
                </div>  
            {% endif %}  
        {% endfor %}  
        <input type="submit" value="创 立" class="btn btn-primary">  
    </form>  
</div>  
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>  
<script type="text/javascript">  
    // 点击刷新验证码  
    const interval = 30; //这边lhw说30秒比较好
    let countdown = interval;
    let button = document.getElementById('sendemail');
    let timer;

    function updateButtonText() {
        button.innerText = '剩余时间: ' + countdown + ' 秒';
    }


    function countdownTick() {
        countdown--;
        updateButtonText(button);

        if (countdown <= 0) {
            clearInterval(timer);
            button.innerText = '发送验证码';
            button.disabled = false;
            button.className = 'btn btn-primary';
        }
    }

    // 使用 JavaScript 事件处理监听按钮点击事件
    document.getElementById('sendemail').addEventListener('click', function () {
        //防止按钮再被点击
        button.disabled = true;
        countdown = interval;
        button.className = 'btn btn-secondary';
        //启动倒计时
        timer = setInterval(countdownTick, 1000);
        let email_address = document.getElementById("id_adminemail").value
        //发送请求
        $.ajax({
            url: '/auth/sendemail/',
            type: 'POST',
            data: {
                'email_address': email_address,
            },
            dataType: 'JSON',
            success: (
                function (res) {
                    if (res['state']) {
                        // state = true
                    } else {
                        // state = false
                        alert('错误的邮箱格式！');
                        clearInterval(timer);
                        button.innerText = '发送验证码';
                        button.disabled = false;
                        button.className = 'btn btn-primary';
                    }
                }
            )
        })

    }); 
</script>  
</body>  
</html>