{% extends 'base.html' %}

{% load static static_tags humanize %}

{% block title %}{{ villagename }}的村口{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
<style>

    .scrollable-content {
        opacity: 0;
        transition: opacity 0.5s;
    }

    .card-container {
        margin-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .card-body {
        background-color: white;
    }

    .card-container a {
        text-decoration: none;
        color: black;
    }

    .card-header {
        font-weight: bold;
        font-size: 30px;
    }

    .card:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px);
        transition: transform 0.4s;
        color: #17a2b8;
    }

    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 100%;
    }

    .card-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-weight: bold;
        font-size: 18px;
        word-wrap: break-word;
    }

    .hr-line {
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
        background-color: #17a2b8;
    }

    .hr-line-light {
        position: relative;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #17a2b8;
        background-color: rgba(23, 162, 184, 0.6);
    }

    .property-box {
        background-color: rgba(229, 229, 229, 0.6);
        padding: 1px;
        margin-top: 3px;
        border-radius: 1px;
        font-size: 13px;
        width: 100%;
        text-align: center;
    }

    .card{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .list-content{
        background-color: white;
        border-radius: 10px;
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 30px;
        width: 100%;
    }


    h1{
        font-weight: bold;
        font-size: 30px;
        padding-left: 20px;
    }

    .topic-card:hover{
        font-weight: bold;
    }

    .nav-link.custom-tab.active {
          color: #17a2b8;
          font-weight: bold;
          font-size: 1rem;
    }

    .nav-link.custom-tab.active::after {
      width: 100%;
    }

    .page-button {
        background-color: rgba(229, 229, 229, 0.5);
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    .page-button:hover {
        color: #17a2b8;
    }

    .current-page{
        background-color: #17a2b8;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 9px;
        padding-right: 9px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

</style>

{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row" style="margin:0 auto; padding-left:100px;">
        <div class="col-md-7 border right bg-light" style="width: 60%">
            <div class="row">
                <div class="col-sm-6">
                    <div class="rbox">
                        <h3 id="username" style="font-weight: bold;">{{ villagename }}</h3>
                    </div>
                </div>
            

            </div>
            <div class="mb-4">
                {% if ingroup == True %}
                    <a href="{% url 'Forum:group_home' id %}" class="btn btn-primary custom-button"><i class="fas fa-arrow-right me-1"></i>进入村落</a>
                {% else %}
                    <a href="{% url 'Apply:apply' %}" class="btn btn-primary custom-button"><i class="fas fa-plus me-1"></i>加入村落</a>
                {% endif %}
            </div>
            {% if identity %}
            <div class="mb-4">
                <a href="{% url 'Groups:applicants' id%}" class="btn btn-primary custom-button"><i class="fas fa-arrow-right me-1"></i>入村申请</a>
            </div>
            {% endif %}
            <div class="rbox col-md-10" style="margin-top: 10px;">
                <h4>村落信息</h4>
                <div class="column">
                    <p><span class="custom-text-color">村长:</span> {{ admin }}</p>
                    <p><span class="custom-text-color">村长信箱:</span> {{adminemail}}</p>
                    <p><span class="custom-text-color">格言:</span> {{ maxim }}</p>
                </div>
            </div>
            <div class="rbox col-md-10" style="margin-top: 10px;">
                <h4>村民</h4>
            </div>
            {% if members %}
            {% for member in members.all %}
            <div class="rbox col-md-10" style="margin-top: 10px;">
                <div class="column">
                    <p><span class="custom-text-color">用户名:</span> {{ member.username }}</p>
                    <p><span class="custom-text-color">信箱:</span> {{member.email}}</p>
                    <p><span class="custom-text-color">格言:</span> {{ member.maxim }}</p>
                    {% if identity %}
                    <a href="{% url 'Groups:delete' villagename member.username%}" class="btn btn-primary custom-button"><i class="fas fa-minus me-1"></i>删除成员</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

