{% extends 'base.html' %}

{% load static humanize static_tags %}

{% block stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

<style>

    .topic-card:hover{
        color: #17a2b8 !important;
        font-weight: bold;
    }

    .page-button {
        background-color: rgba(229, 229, 229, 0.5);
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    .page-button:hover {
        color: #17a2b8;
    }

    .current-page{
        background-color: #17a2b8;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 9px;
        padding-right: 9px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

</style>
{% endblock %}


{% block content %}
<div style="border-radius: 10px; margin-bottom: 50px;" class="mt-4 p-4 bg-light">
    <div>
        
        <div class="container d-flex justify-content-between align-items-center">  
            <div class="mb-4">
                <a href="{% url 'Groups:create_group' %}" class="btn btn-primary custom-button"><i class="fas fa-plus me-1"></i>建立村落</a>
            </div> 
            <div class="search-form">  
                <form action="." method="get">  
                    <input type="text" name="search" placeholder="搜索村落..." >  
                    <button type="submit" class="btn btn-primary custom-button"><i class="bi bi-search"></i>搜索</button>  
                </form>  
            </div>  
        </div>
        {% if villages %}
        {% for village in villages %}
        <div class="p-2 topic-card"
             style="{% if forloop.first %}border-top: 1px solid #17a2b8;{% else %}border-top: 1px solid #dddddd;{% endif %}{% if forloop.last %}border-bottom: 1px solid #17a2b8;{% endif %}">
            <div class="row">
                <div class="col-8 d-flex align-items-center">
                    <a href="{% url 'Groups:group' village.pk%}" class="text-decoration-none text-black">
                        {{ village.villagename }}
                    </a>

                </div>
                <div class="col-1 d-flex align-items-center">
                    <span>宣言：{{ village.maxim }}</span> 
                </div>
                <div class="col-1 d-flex justify-content-center align-items-center text-muted">
                    <span>村长：{{ village.admin.username }}</span> 
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="row col-md-12" style="margin-top: 50px; margin-bottom: 30px;">
        <div class="pagination" style="display: flex; justify-content: center; align-items: center;">
            <span class="step-links">
                {% if villages.has_previous %}
                    <a href="?page=1&keyword={{ keyword }}&page_size={{ page_size }}"
                       class="page-button">首页</a>
                    <a href="?page={{ villages.previous_page_number }}&page_size={{ page_size }}"
                       class="page-button"><i class="bi-chevron-left"></i></a>
                {% endif %}

                {% if villages.has_previous and villages.number != 2 %}
                    <a href="?page={{ villages.previous_page_number |add:'-1'}}&page_size={{ page_size }}"
                       class="page-button">{{ villages.previous_page_number|add:"-1" }}</a>
                {% endif %}
                {% if villages.has_previous %}
                    <a href="?page={{ villages.previous_page_number }}&page_size={{ page_size }}"
                       class="page-button">{{ villages.previous_page_number }}</a>
                {% endif %}

                <span class="current-page">{{ villages.number }}</span>


                {% if villages.has_next %}
                    <a href="?page={{ villages.next_page_number }}&page_size={{ page_size }}"
                       class="page-button">{{ villages.next_page_number }}</a>
                {% endif %}
                {% if villages.has_next and villages.next_page_number != villages.paginator.num_pages %}
                    <a href="?page={{ villages.next_page_number | add:'1' }}&page_size={{ page_size }}"
                       class="page-button">{{ villages.next_page_number|add:"1" }}</a>
                {% endif %}

                {% if villages.has_next %}
                    <a href="?page={{ villages.next_page_number }}&page_size={{ page_size }}"
                       class="page-button"><i class="bi bi-chevron-right"></i></a>
                    <a href="?page={{ villages.paginator.num_pages }}&page_size={{ page_size }}"
                       class="page-button">末页</a>
                {% endif %}
            </span>
        </div>
    </div>

</div>


{% endblock %}