{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>加入村落</title>  
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" type="text/css" media="all">  
    <style>  
        .account {  
            width: 500px;  
            border: 1px solid #dddddd;  
            border-radius: 5px;  
            box-shadow: 5px 5px 20px #aaa;  
            margin-left: auto;  
            margin-right: auto;  
            margin-top: 50px;  
            padding: 20px 40px;  
            color: #333333;  
            background-color: #ffffff;  
        }  
        .account h2 {  
            margin-top: 10px;  
            text-align: center;  
        }  
    </style>  
</head>  
<body>  
<div class="account">  
    <h2>加入村落</h2>  
    <form method="post" novalidate>  
        {% csrf_token %}  
        <!-- 表单列表 -->  
        {% for field in form %} 
            {% if field.name != 'verification_code' %} 
                <div class="form-group">  
                    <label>{{ field.label }}</label>  
                    :  
                    {{ field }}  
                    <span style="color: red;">{{ field.errors.0 }}</span>  
                </div>
            {% endif %}  
            {% if field.name == 'verification_code' %}  
                <div class="form-group">  
                    <label for="id_code">{{ field.label }}</label>  
                    <div class="row">  
                        <div class="col-xs-8">  
                            {{ field }}  
                            <span style="color: red;">{{ field.errors.0 }}</span>  
                        </div>  
                        <div class="col-xs-4">  
                            <button type="button" id="sendemail" class="btn btn-primary">发送邮件</button>
                        </div>  
                    </div>  
                </div>  
            {% endif %}  
        {% endfor %}  
        <input type="submit" value="发送申请" class="btn btn-primary">  
    </form>  
</div>  
</body>  
</html>